*
!Makefile
!README.md
!Report/
!Report/report.tex
!Report/thuemp.cls
!Report/report.bib
!Report/apparatus.png
!Report/Rb-fine-structure.png
!Report/Rb-85_Energy.png
!Report/Rb-87_Energy.png
!Report/fig-4-pumping.png
!Report/fig-5-pumping-sweep-square.png
!Report/fig-6-pumping-sweep-triangle.png
!Data/
!Data/plot_optical_pumping.py
!Data/01-optical-pump/
!Data/01-optical-pump/optic_pump_mr_data_03_vertical_field.pdf
!Data/01-optical-pump/optic_pump_mr_data_04-01_config-a.pdf
!Data/01-optical-pump/optic_pump_mr_data_04-01_config-b.pdf
!Data/01-optical-pump/optic_pump_mr_data_04-01_config-c.pdf
!.github/
!.github/workflows/
!.github/workflows/build.yml